/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

//FUENTES EN REMS GENERALES PARA FONTSIZE
$font8: 0.5rem !default;
$font9: 0.5625rem !default;
$font10: 0.625rem !default;
$font11: 0.6875rem !default;
$font12: 0.75rem !default;
$font13: 0.8125rem !default;
$font14: 0.875rem !default;
$font15: 0.9375rem !default;
$font16: 1rem !default;
$font18: 1.125rem !default;
$font20: 1.25rem !default;
$font22: 1.375rem !default;
$font23: 1.438rem !default;
$font24: 1.5rem !default;
$font25: 1.563rem !default;
$font26: 1.625rem !default;
$font28: 1.75rem !default;
$font30: 1.875rem !default;
$font32: 2rem !default;
$font34: 2.125rem !default;
$font35: 2.188rem !default;
$font36: 2.25rem !default;
$font37: 2.313rem !default;
$font38: 2.375rem !default;
$font40: 2.5rem !default;
$font50: 3.125rem !default;
$font60: 3.75rem !default;
$font70: 4.375rem !default;
$font90: 5.625rem !default;