$colBlanco:#ffffff;
$colAzul:#00338d;
$colAzulHover:#012b74;
$colAzul2:#243148;
$colVerde:#8ec63f;
$colVerdeHover:#84bb37;
$colRojo:#ff0000;
$colGris1:#f4f4f4;
$colGris2:#e3e3e3;
$colGris3:#cacbcb;
$colGris4:#a7a7a8;
$colGris5:#919292;
$colGris6:#616365;
$colGris7:#f1f1f1;
$colNaranja:#f88c42;

.bg-blanco{background-color:$colBlanco!important;}
.txt-blanco{color:$colBlanco!important;}
.bg-azul{background-color:$colAzul!important;}
.txt-azul{color:$colAzul!important;}
.bg-azul._hover:hover{background-color:$colAzulHover!important;}
.bg-azul2{background-color:$colAzul2!important;}
.txt-azul2{color:$colAzul2!important;}
.bg-azul2._hover:hover{background-color:$colAzulHover!important;}
.bg-verde{background-color:$colVerde!important;}
.txt-verde{color:$colVerde!important;}
.bg-verde._hover:hover{background-color:$colVerdeHover!important;}
.bg-rojo{background-color:$colRojo!important;}
.txt-rojo{color:$colRojo!important;}
.bg-rojo._hover:hover{background-color:$colRojo!important;}
.bg-gris1{background-color:$colGris1!important;}
.txt-gris1{color:$colGris1!important;}
.bg-gris1._hover:hover{background-color:$colGris1!important;}
.bg-gris2{background-color:$colGris2!important;}
.txt-gris2{color:$colGris2!important;}
.bg-gris2._hover:hover{background-color:$colGris3!important;}
.bg-gris3{background-color:$colGris3!important;}
.txt-gris3{color:$colGris3!important;}
.bg-gris3._hover:hover{background-color:$colGris3!important;}
.bg-gris4{background-color:$colGris4!important;}
.txt-gris4{color:$colGris4!important;}
.bg-gris4._hover:hover{background-color:$colGris4!important;}
.bg-gris5{background-color:$colGris5!important;}
.txt-gris5{color:$colGris5!important;}
.bg-gris5._hover:hover{background-color:$colGris5!important;}
.bg-gris6{background-color:$colGris6!important;}
.txt-gris6{color:$colGris6!important;}
.bg-gris6._hover:hover{background-color:$colGris6!important;}
.bg-gris7{background-color:$colGris7!important;}
.txt-gris7{color:$colGris7!important;}
.bg-gris7._hover:hover{background-color:$colGris7!important;}
.bg-naranja{background-color:$colNaranja;}
.txt-naranja{color:$colNaranja;}