@media only screen and (max-width: 1825px) {}

@media only screen and (max-width: 1766px) {}

@media only screen and (max-width: 1760px) {}

@media only screen and (max-width: 1741px) {}

@media only screen and (max-width: 1700px) {}

@media only screen and (max-width: 1692px) {}

@media only screen and (max-width: 1672px) {}

@media only screen and (max-width: 1629px) {}

@media only screen and (max-width: 1621px) {}

@media only screen and (max-width: 1580px) {}

@media only screen and (max-width: 1545px) {}

@media only screen and (max-width: 1485px) {}

@media only screen and (max-width: 1480px) {}

@media only screen and (max-width: 1456px) {}

@media only screen and (max-width: 1440px) {
    body,
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1429px) {}

@media only screen and (max-width: 1425px) {}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1385px) {}

@media only screen and (max-width: 1330px) {}

@media only screen and (max-width: 1318px) {}

@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1260px) {}

@media only screen and (max-width: 1246px) {}

@media only screen and (max-width: 1230px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1536px;
    }
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 1177px) {}

@media only screen and (max-width: 1145px) {}

@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 1007px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 767px) {
    body,
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 730px) {}

@media only screen and (max-width: 667px) {}

@media only screen and (max-width: 650px) {}

@media only screen and (max-width: 500px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 430px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {}